:root {
  --aboutBackground: #0f0f0f;
  --aboutHeaderColor: #d5d5d5;
  --aboutParagraphsColor: #b8b8b8;

  --reviewsHeaderColor: #3eaa6b;

  /* --linksColor: #d5d5d5; */
}

/* ABOUT & REVIEWS */
.aboutSectionBox {
  height: 100%;
  background: linear-gradient(270deg, #1a1a1a, #0a0a0a);
  padding-top: 10rem;
  padding-bottom: 10rem;
  scroll-behavior: smooth;
}
/* ABOUT & REVIEWS HEADING */
.h2 {
  /* font-size: 3rem;
  text-align: center;
  color: var(--aboutHeaderColor); */
}

/* REVIEWS HEADING - H3 */
.reviewsHeader,
.certificatesHeading {
  font-size: 1.8rem;
  width: 100%;
  text-align: center;
  margin-top: 8rem;
  color: var(--reviewsHeaderColor);
}

.personImg {
  /* width: 4rem;
  height: 4rem;
  margin-right: 2rem;
  filter: invert(0.85); */
}

.aboutParagraphsDiv {
  width: 45%;
  margin: 0 auto;
  /* border: solid 1px lime; */
  text-align: left;
}
.aboutParagraphs {
  /* font-size: 1.2rem; */
  color: var(--aboutParagraphsColor);
  margin-top: 2rem;
  /* border: solid 1px lime; */
}
.aboutParagraphs:nth-child(1) {
  margin-top: 5rem;
}

/*** ABOUT REVIEWS ***/
.aboutReviewsDiv {
  /* border: solid 1px lime; */
  text-align: left;
}

.singleReviewBox {
  display: flex;
  user-select: none;
  /* border: solid 1px lime; */
}

.aboutReviewsParagraphs {
  font-style: italic;
  color: var(--aboutParagraphsColor);
}

/*** CERTIFICATES ***/
.certificatesContainer {
  /* display: grid;
  justify-content: center;
  align-items: center;
  padding: 5rem auto 5rem auto;
  margin-top: 5rem;
  row-gap: 5rem;
  grid-template-areas:
    "a a a b b b"
    "c c d d e e"
    "f f g g h h"; */
}
/* GRID AND CERT LAYOUT */
.cert1 {
  grid-area: a;
}
.cert2 {
  grid-area: b;
}
.cert3 {
  grid-area: c;
}
.cert4 {
  grid-area: d;
}
.cert5 {
  grid-area: e;
}
.cert6 {
  grid-area: f;
}
.cert7 {
  grid-area: g;
}
.cert8 {
  grid-area: h;
}

.certificatesBox {
  border-radius: 7px;
  /* background: linear-gradient(
    148deg,
    #000,
    #000,
    #000,
    #3eaa6b,
    #000,
    #000,
    #000
  ); */
  background: linear-gradient(30deg, #272727, #272727, #141414, #3eaa6b);
  margin: 5rem auto 0 auto;
  width: 60%;
  text-align: center;
  border: solid 2px #5e5e5e;

  /* border: solid 2px #3eaa6b; */
}
.certificatesBox:hover {
  /* transform: rotate3d(4, -15, 0, 25deg); */
}
.certificatesBoxImg {
  margin: 1rem;
  width: 60%;
  border-radius: 3px;
}
.certificatesBoxImg:hover {
  cursor: pointer;
  /* filter: contrast(0.8); */
}
.certificatesBoxParagraphs {
  /* margin: 1rem 0;
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--aboutParagraphsColor); */
}

/* evenSpace was simply used as a 'ruler' to calculate positioning */
.evenSpacer {
  position: absolute;
  right: 50%;
  height: 100px;
  top: 50%;
  width: 1px;
  border: solid 3px lime;
  margin: 0 auto;
}
