:root {
  --aboutBackground: #0f0f0f;
  --aboutHeaderColor: #d5d5d5;
  --aboutParagraphsColor: #b8b8b8;

  --reviewsHeaderColor: #3eaa6b;

  /* --linksColor: #d5d5d5; */
}

/* ABOUT & REVIEWS */
.aboutSectionBox {
  font-family: "Almarai";
  height: 3400px;
  background: linear-gradient(270deg, #1a1a1a, #0a0a0a);
  padding-top: 10rem;
  scroll-behavior: smooth;
}
/* ABOUT & REVIEWS HEADING */
.h2 {
  font-size: 3rem;
  text-align: center;
  color: var(--aboutHeaderColor);
}

/* REVIEWS HEADING - H3 */
.reviewsHeader,
.certificatesHeading {
  font-size: 1.8rem;
  width: 100%;
  text-align: center;
  margin-top: 8rem;
  color: var(--reviewsHeaderColor);
}

.singleReviewBox {
  display: flex;
  /* border: solid 1px lime; */
  align-items: center;
  user-select: none;
}
.personImg {
  width: 4rem;
  height: 4rem;
  margin-right: 2rem;
  filter: invert(0.85);
}

.aboutParagraphsDiv {
  width: 45%;
  margin: 0 auto;
  /* border: solid 1px lime; */
  text-align: left;
}
.aboutParagraphs {
  font-size: 1.2rem;
  color: var(--aboutParagraphsColor);
  margin-top: 2rem;
}
.aboutParagraphs:nth-child(1) {
  margin-top: 5rem;
}

/*** ABOUT REVIEWS ***/
.aboutReviewsParagraphIntro {
  font-size: 1.2rem;
  color: var(--aboutParagraphsColor);
  text-align: left;
  margin: 4rem auto -3rem auto;
  width: 45%;
}
.aboutReviewsDiv {
  width: 45%;
  margin: 3rem auto 0 auto;
  /* border: solid 1px lime; */
  text-align: left;
}

.aboutReviewsParagraphs {
  font-size: 1.2rem;
  font-style: italic;
  /* letter-spacing: 1px; */
  color: var(--aboutParagraphsColor);
  text-align: left;
  margin: 2rem auto;
}

/*** CERTIFICATES ***/
.certificatesBox {
  border-radius: 7px;
  /* background: linear-gradient(
    30deg,
    #000,
    #000,
    #000,
    #474747,
    #000,
    #000,
    #000
  ); */
  margin: 5rem auto 0 auto;
  width: 30%;
  text-align: center;
  border: solid 2px #5e5e5e;
  /* border: solid 2px #3eaa6b; */
}
.certificatesBoxImg {
  margin: 1rem;
  width: 60%;
  border-radius: 3px;
}
.certificatesBoxParagraphs {
  margin: 1rem 0;
  font-size: 1.1rem;
  color: var(--aboutParagraphsColor);
}

/* evenSpace was simply used as a 'ruler' to calculate positioning */
.evenSpacer {
  position: absolute;
  right: 50%;
  height: 100px;
  top: 50%;
  width: 1px;
  border: solid 3px lime;
  margin: 0 auto;
}
