:root {
  --aboutBackground: #0f0f0f;
  --aboutHeaderColor: #d5d5d5;
  --aboutParagraphsColor: #d5d5d5;

  --linksColor: #d5d5d5;
  --projectsLinkColor: #1b1b1b;
  --projectsLinkBackground: #5ce997;
}

.aboutSectionBox {
  font-family: "Almarai";
  height: 1200px;
  background: linear-gradient(270deg, #1a1a1a, #121212);
  padding-top: 10rem;
}
.aboutHeader {
  font-size: 3rem;
  text-align: center;
  color: var(--aboutHeaderColor);
}

.aboutParagraphsDiv {
  width: 45%;
  margin: 0 auto;
  /* border: solid 1px lime; */
  text-align: left;
}
.aboutParagraphs {
  font-size: 1.2rem;
  color: var(--aboutParagraphsColor);
  margin-top: 2rem;
}
.aboutParagraphs:nth-child(1) {
  margin-top: 5rem;
}

/* ABOUT REVIEWS */
.aboutReviewsDiv {
  width: 45%;
  margin: 5rem auto 0 auto;
  /* border: solid 1px lime; */
  text-align: left;
}
.aboutReviewsParagraphs {
  font-size: 1.1rem;
  font-style: italic;
  /* letter-spacing: 1px; */
  color: var(--aboutParagraphsColor);
  text-align: left;
  margin: 2rem auto;
}

/* evenSpace was simply used as a 'ruler' to calculate positioning */
.evenSpacer {
  position: absolute;
  right: 50%;
  height: 100px;
  top: 50%;
  width: 1px;
  border: solid 3px lime;
  margin: 0 auto;
}
