/*** ANIMATIONS ***/

/*************/
/*** MAIN  ***/
/*************/
/* TRIANGLES EFFECT ANIMATIONS */
/* Flies and rotates horizontally */
@keyframes flyAndRotateH {
  0% {
    transform: translateX(0) rotate(0deg);
  }
  50% {
    transform: translateX(26vw) rotate(180deg);
  }
  100% {
    transform: translateX(0) rotate(360deg);
  }
}
@keyframes flyAndRotateV {
  0% {
    transform: translateX(0) rotate(0deg);
  }
  50% {
    transform: translateY(22vw) rotate(180deg);
  }
  100% {
    transform: translateX(0) rotate(360deg);
  }
}
/* Horizontal alignments */
.triangleH1,
.triangleH2,
.triangleH3 {
  position: absolute;
  right: 85%;
  top: 40%;
  z-index: -1;
  height: 80px;
  width: 80px;
  animation: flyAndRotateH 8s linear infinite;
}
.triangleH1,
.triangleH2,
.triangleH3 polygon {
  /* fill: var(--projectsLinkBackground); */
  fill: transparent;
  stroke: var(--triangleColor);
}
.triangleH2 {
  top: 50%;
  animation-delay: 2s;
}
.triangleH3 {
  top: 60%;
  animation-delay: 1.2s;
}

/* Vertical alignments */
.triangleV1,
.triangleV2,
.triangleV3 {
  position: absolute;
  right: 85%;
  top: 40%;
  z-index: -1;
  height: 80px;
  width: 80px;
  animation: flyAndRotateV 10s linear infinite;
}
.triangleV1,
.triangleV2,
.triangleV3 {
  fill: transparent;
  stroke: var(--triangleColor);
}
.triangleV2 {
  right: 75%;
  animation-delay: 2s;
}
.triangleV3 {
  right: 65%;
  animation-delay: 1s;
}

/* Triangles z-index */
.triangleV1,
.triangleV2,
.triangleV3,
.triangleH1,
.triangleH2,
.triangleH3 {
  z-index: 0;
}

.heroBox p,
.profilePicture {
  position: relative;
  z-index: 1;
}

/* FADE-IN for Vertical spacer and intro text */
.fadeinIntro {
  animation: fadeinIntro 8s 1;
}
@keyframes fadeinIntro {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
}

/****************/
/*** PROJECTS ***/
/****************/

/* FADE GREEN LIGHT */
.fadeGreenLight {
  animation: fadeGreenLight 10s infinite;
}
@keyframes fadeGreenLight {
  0% {
    background-color: #252525;
  }
  25% {
    background-color: #252525;
  }
  50% {
    background-color: #252525;
  }
  75% {
    background-color: #3eaa6b;
  }
  100% {
    background-color: #252525;
  }
}
/* FADE GREEN LIGHT COLOR DELAY */
.fadeGreenLightDelayColor {
  animation: fadeGreenLightDelayColor 10s 0;
}
@keyframes fadeGreenLightDelayColor {
  0% {
    color: #d5d5d5;
  }
  25% {
    color: #d5d5d5;
  }
  50% {
    color: #3eaa6b;
  }
  75% {
    color: #d5d5d5;
  }
  100% {
    color: #d5d5d5;
  }
}
