:root {
  --backgroundColor: #101010;
  --linksColor: #ff582e;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  font-weight: 600;
  background-color: var(--backgroundColor);
}
a {
  margin: 0 0.5rem;
  color: var(--linksColor);
}
