/*** COLORS ***/
:root {
  --fontColorHeroBox: #b8b8b8;
  --triangleColor: #555555;
  --spanColorMain: #5ce997;
  /* OG green: 5ceb98 */
  /* 00c2c2 */
  /* teal: #00c9c9 */
  /* Old blue: #4777d1 */
}

/*** FONT COLORS ***/
.heroBox,
.shortAboutBox p {
  color: var(--fontColorHeroBox);
}

/*** ANIMATIONS ***/

/* TRIANGLES EFFECT ANIMATIONS */
/* Flies and rotates horizontally */
@keyframes flyAndRotateH {
  0% {
    transform: translateX(0) rotate(0deg);
  }
  50% {
    transform: translateX(26vw) rotate(180deg);
  }
  100% {
    transform: translateX(0) rotate(360deg);
  }
}
@keyframes flyAndRotateV {
  0% {
    transform: translateX(0) rotate(0deg);
  }
  50% {
    transform: translateY(22vw) rotate(180deg);
  }
  100% {
    transform: translateX(0) rotate(360deg);
  }
}
/* Horizontal alignments */
.triangleH1,
.triangleH2,
.triangleH3 {
  position: absolute;
  right: 85%;
  top: 40%;
  z-index: -1;
  height: 80px;
  width: 80px;
  animation: flyAndRotateH 8s linear infinite;
}
.triangleH1,
.triangleH2,
.triangleH3 polygon {
  /* fill: var(--projectsLinkBackground); */
  fill: transparent;
  stroke: var(--triangleColor);
}
.triangleH2 {
  top: 50%;
  animation-delay: 2s;
}
.triangleH3 {
  top: 60%;
  animation-delay: 1.2s;
}

/* Vertical alignments */
.triangleV1,
.triangleV2,
.triangleV3 {
  position: absolute;
  right: 85%;
  top: 40%;
  z-index: -1;
  height: 80px;
  width: 80px;
  animation: flyAndRotateV 10s linear infinite;
}
.triangleV1,
.triangleV2,
.triangleV3 {
  fill: transparent;
  stroke: var(--triangleColor);
}
.triangleV2 {
  right: 75%;
  animation-delay: 2s;
}
.triangleV3 {
  right: 65%;
  animation-delay: 1s;
}

/* Triangles z-index */
.triangleV1,
.triangleV2,
.triangleV3,
.triangleH1,
.triangleH2,
.triangleH3 {
  z-index: 0;
}

.heroBox p,
.profilePicture {
  position: relative;
  z-index: 1;
}

/* ************* */
/*** MAIN CODE ***/
main {
  /* background-color: #2a2a2a; */
  height: 800px;
  font-family: "Almarai";
  margin-bottom: 0rem;
  /* margin-top: 7rem; */
  padding-top: 10rem;
  /* background: radial-gradient(circle, #2c2c2c, #1b1b1b); */
  /* background: linear-gradient(140deg, #111111, #111111, #23e293 90%, #111111); */
  background: linear-gradient(130deg, #1a1a1a, #121212);

  /* background-color: #664848; */
  /* border: solid 5px red; */
}

.heroSectionBox {
  display: flex;
  position: relative;
  justify-content: center;
}
.heroBox {
  margin-left: 4rem;
  margin-top: 6.5rem;
}
.heroBox h1 {
  font-size: 4rem;
  font-weight: 300;
}
/* Web & Software Developer */
.heroBox p {
  font-size: 1.2rem;
  margin: 2rem 0;
  margin-left: 4.3rem;
}
.profilePicture {
  opacity: 0;
  width: 30%;
  border-radius: 50%;
  /* border: dashed 2px var(--projectsLinkBackground); */
  margin-left: 3.4rem;
  /* filter: blur(10px); */
  /* transition: all 1s; */
}

.verticalLineSeparator {
  background-color: #787878;
  width: 1px;
  height: 400px;
  margin-left: -11rem;
  margin-right: 13.1rem;
  margin-top: 5rem;
  border-radius: 16px;
}

.shortAboutBox {
  position: relative;
  width: 28%;
  letter-spacing: 0.3px;
  /* border: solid 1px lime; */
}
.hexagonGrid {
  position: absolute;
  max-width: 100%;
  top: 5rem;
  left: 24rem;
  transform: rotate3d(2, 2.5, 1, 170deg) scale(10);
  z-index: -1;
  overflow: hidden;
}
.shortAboutBox p {
  font-size: 1.2rem;
  margin-top: 1rem;
}
.shortAboutBox p:first-of-type {
  margin-top: 11rem;
}

span {
  color: var(--spanColorMain);
}
