/*** COLORS ***/
:root {
  --fontColorHeroBox: #b8b8b8;
  --triangleColor: #555555;
  --spanColorMain: #3eaa6b;
  --verticalLineSeparatorColor: #787878;
  /* 5ce997 */
  /* OG green: 5ceb98 */
  /* 00c2c2 */
  /* teal: #00c9c9 */
  /* Old blue: #4777d1 */
}

/*** FONT COLORS ***/
.heroBox,
.shortAboutBox p {
  color: var(--fontColorHeroBox);
}

/* ************* */
/*** MAIN CODE ***/
main {
  height: 800px;
  font-family: "Almarai";
  margin-bottom: 0rem;
  padding-top: 10rem;
  background: linear-gradient(130deg, #1a1a1a, #0a0a0a);
  /* border: solid 5px red; */
}

.heroSectionBox {
  /* display: flex;
  position: relative;
  justify-content: center; */
}
.heroBox {
  /* margin-left: 4rem;
  margin-top: 6.5rem; */
}
.heroBox h1 {
  /* font-size: 4rem; */
  font-weight: 300;
}
/* Web & Software Developer */
.heroBox p {
  /* font-size: 1.2rem; */
  margin: 2rem 0;
  margin-left: 4.3rem;
}
.profilePicture {
  /* opacity: 1;
  width: 30%;
  border-radius: 50%;
  margin-left: 3.4rem; */
}

.verticalLineSeparator {
  background-color: var(--verticalLineSeparatorColor);
  width: 1px;
  border-radius: 16px;
}

.shortAboutBox {
  position: relative;
  align-self: center;
  letter-spacing: 0.3px;
  /* border: solid 2px lime; */
}
.hexagonGrid {
  position: absolute;
  max-width: 100%;
  top: 5rem;
  left: 24rem;
  transform: rotate3d(2, 2.5, 1, 170deg) scale(10);
  z-index: -1;
  overflow: hidden;
}
.shortAboutBox p {
  /* font-size: 1.2rem; */
  margin-top: 1rem;
}
.shortAboutBox p:first-of-type {
  /* margin-top: 11rem; */
}

span {
  color: var(--spanColorMain);
}

/* PROFILE PICTURE ANIMATION */
@keyframes slowBlink {
  0% {
    border-color: #b8b8b8;
  }
  25% {
    border-color: #3eaa6b;
  }
  50% {
    border-color: #59f499;
  }
  75% {
    border-color: #3eaa6b;
  }
  100% {
    border-color: #b8b8b8;
  }
}
.profilePicture {
  animation: slowBlink 7s infinite;
}
