/* MEDIA QUERIES */
:root {
  --mainGreen: #3eaa6b;
}

/* 2560x1080 */
@media only screen and (max-width: 2560px) {
  /*** HEADER ***/
  .socialsLinksNav {
    width: 12%;
  }
  .pageNavLinksBox a {
    font-size: 1rem;
  }
  /*** HERO/MAIN ***/
  .heroSectionBox {
    display: flex;
    /* border: solid 2px red; */
  }
  .heroBox {
    text-align: center;
    align-self: center;
    /* border: solid 2px lime; */
    margin-left: 10rem;
  }
  .profilePicture {
    opacity: 1;
    width: 30%;
    border-radius: 50%;
    border: solid 2px var(--mainGreen);
    padding: 0.3rem;
    margin-top: 3rem;
  }

  .verticalLineSeparator {
    margin: 0 auto 0 22.8rem;
    height: 500px;
  }

  .shortAboutBox {
    position: relative;
    width: 28%;
    letter-spacing: 0.3px;
    margin-right: 10rem;
    /* border: solid 2px lime; */
  }
  /* MAIN ANIMATIONS */
  @keyframes flyAndRotateH {
    50% {
      transform: translateX(15vw) rotate(180deg);
    }
  }
  @keyframes flyAndRotateV {
    50% {
      transform: translateY(14vw) rotate(180deg);
    }
  }
  /*** ABOUT/REVIEWS ***/
  .aboutReviewsDiv {
    width: 45%;
    margin: 3rem auto;
    /* border: solid 1px lime; */
  }
  .singleReviewBox {
    align-items: center;
    /* border: solid 1px lime; */
  }
  .aboutReviewsParagraphs {
    font-size: 1.2rem;
    color: var(--aboutParagraphsColor);
    text-align: left;
    margin: 2rem 0;
    /* border: solid 1px lime; */
  }
  /* MY CERTIFICATES */
  .certificatesBoxImg {
    /* Adjust zoom level for smaller screens */
    /* top: 20% !important; */
    /* left: 50% auto !important; */
    /* border: solid 2px red; */
  }
  /* Front-End Cert zoom in */
  .feCertZoomedIn,
  .infraCertZoomedIn,
  .wywmCertZoomedIn {
    transition: "transform 0.2s snap";
    position: fixed;
    transform-origin: center center;
    z-index: 2;
    margin-left: 50%;
    margin-right: 50%;
  }

  .feCertZoomedIn {
    transform: scale(0.6);
    top: -12%;
    left: 20%;
  }
  .infraCertZoomedIn {
    transform: scale(0.38);
    top: -62%;
    left: 20%;
  }
  .wywmCertZoomedIn {
    transform: scale(0.35);
    top: -65%;
    left: 20%;
  }
}
