body {
  height: 300vh;
  scroll-behavior: smooth;
  font-family: "Almarai";
  overflow-x: hidden !important;
}
@font-face {
  font-family: "Almarai";
  src: url("../src/Assets/Fonts/Almarai/Almarai-Regular.ttf"),
    url("../src/Assets/Fonts/Almarai/Almarai-Light.ttf");
}
.rulerMain {
  height: 13230px;
  width: 3px;
  background: red;
  position: absolute;
  margin: 0 50%;
}
