body {
  height: 300vh;
  scroll-behavior: smooth;
  font-family: "Almarai";

  /* background: linear-gradient(150deg, #040404, #181818, #323232); */
  /* background: linear-gradient(-120%, #181818, #1b141f, #181818); */
  /* background-color: #101010; */
  /* background-color: #101010; */
}

.rulerMain {
  height: 13300px;
  width: 3px;
  background: yellow;
  position: absolute;
  /* left: 50%; */
  margin: 0 50%;
}
